/* Importing/Linking to the Nunito Google Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing border box includes padding and border */
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --grey: #aaa;
}

body{
    font-family: 'Nunito' , sans-serif;
    line-height: 1.5;
}

h1{
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #4b5163;
    font-size: 30px;

}

#main{
    position: relative;
    /* VH (view port height) determines the height of the viewport by percentage */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./Media/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    /* The object fit determines how a video is resized to fit in a container setting container to cover makes it spread */
    object-fit: cover;
}

#cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

#content{
    color: var(--white);
    z-index: 2;
    text-align: center;
}

#click{
    display: inline-block;
    color:var(--white);
    margin-top: 25px;
    border: 2px solid var(--white);
    padding: 10px 30px;
    background-color: var(--grey);
    color: var(--white);
    border-radius: 10px;
    font-size: 20px;
    opacity: 0.8;
}

#click:hover{
    transform: scale(1.25);
}